.idea
.vscode

# TODO Temporary list of addons to ignore for development only, dont commit this
/!BugGrabber/
/BigWigs/
/BigWigs_Aberrus/
/BigWigs_Amirdrassil/
/BigWigs_Core/
/BigWigs_DragonIsles/
/BigWigs_NerubarPalace/
/BigWigs_Options/
/BigWigs_Plugins/
/BigWigs_VaultOfTheIncarnates/
/BugSack/
/Details/
/Details_Compare2/
/Details_DataStorage/
/Details_EncounterDetails/
/Details_RaidCheck/
/Details_Streamer/
/Details_TinyThreat/
/Details_Vanguard/
/DevTool/
/ElvUI/
/ElvUI_CPU/
/ElvUI_Libraries/
/ElvUI_Options/
/idTip/
/TextureAtlasViewer/
/WagoAnalytics/
/WagoAppCompanion/
/WeakAuras/
/WeakAurasArchive/
/WeakAurasModelPaths/
/WeakAurasOptions/
/WeakAurasTemplates/
/SVUI_!Core.code-workspace
/ACU/
